<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> 
      <ion-title style="font-size: 30px; margin-top: 20px; margin-bottom: 10px; text-align: center">
          Discover kindergartens 
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
  <ion-content padding>
    <ion-card text-center>
      <!-- <ion-list> -->
        <!-- <ion-label> -->
          <ion-card-header>
            <ion-card-title>Knowledge Tree+ Montessori Kindergarten Desa Parkcity</ion-card-title>
            
            <ion-card-subtitle  style="color:dodgerblue">Conveniently located in the Plaza Akardia development in the heart of Desa ParkCity in Kuala Lumpur, the recently opened Knowledge Tree+ Montessori Kindergarten offers progressive educational programmes that underscore hands-on learning and self-directed activities on the part of the child. Benchmarked against the century-old, science-backed philosophy and principles developed by Dr Maria Montessori, the kindergarten’s intrepid approach to its early education is nothing short of exemplary.</ion-card-subtitle>
            <ion-button color="primary" routerLink="/detail">Details</ion-button>
          </ion-card-header>
        <!-- </ion-label> -->
      <!-- </ion-list> -->
    </ion-card>
  </ion-content>
