<ion-header>
  <ion-toolbar color="primary">
      <ion-title style="font-size: 30px; margin-top: 20px; margin-bottom: 10px; text-align: center">
    My Kindergarten App
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <div class="ion-padding">
    <!-- <ion-thumbnail slot="start"></ion-thumbnail> -->
      <img src="assets/plg.jpg">
    <!-- </ion-thumbnail> -->
      <ion-button color="primary" expand="full" routerLink="/login">LOGIN</ion-button>
      <ion-button color="secondary" expand="full" routerLink="/register">REGISTER</ion-button>
    </div>
  </ion-item>
</ion-content>
